@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

body
{
    margin: 0 auto;
    width: 100%;
    font-family: Roboto;  
    background: #ADA996;  /* fallback for old browsers */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

header
{
    height:15%;
    display:flex
}
article{
    height: 70%;
    overflow-y: scroll;
}
footer
{
    height:10%;
}



/* this is a stylesheet for all input types of type button */
[type="button"]{
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: black;
  border-color:purple;
  vertical-align: baseline;
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
}
[type="button"]:hover{
  background-color: #CACBCD;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8);
}
/**
*Style the login page and sign up page if needed
*/
field{
    display: block;
}
field> label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
/* style all inputs of type text and password */
[type="text"],[type="password"]{
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  transition: color 0.1s ease, border-color 0.1s ease;
}

/* this is for styling the the cards  */
envelop>records{
    display: flex;
    flex-wrap: wrap;
    
}
envelop>records>record{
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    transition:box-shadow .25s;
    transition:box-shadow .25s;
    padding:24px;
    margin:.5rem 0 1rem 0;
    border-radius:2px;
    background-color:#EFE8E8;
    flex-direction: column;
    width: 20%;
    margin:1.5% 2.5%;
    transition: all 0.2s ease-in-out;
}
envelop>records>record:hover{
    transform: scale(1.03, 1.03);
    cursor: pointer;
    text-decoration: underline;
    box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)


}

envelop>records>record:active{
    background-color: burlywood;
}
/* dont show the checkbox */
field>[type="checkbox"], field>label{
    display: none;
}
output{
    text-transform: uppercase;
    text-align: center;
    padding: 0 auto;
}
/* style all anchor tags  */
a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
a:hover{
    border: outset;
    text-decoration: underline;
    text-decoration-color: mintcream;
}